
#lien_index p{

  color: #000080;
  text-align: center;
  font-size: 20px;
  font-family: "Brush Script Std", "Brush Script MT", cursive;
  margin-bottom: 50px;
  margin-top:50px;

}

body{
  background-image : url(fond-ecran-chat.jpg);
}

/* sans flex
section{
  background-color : white;
  position : absolute;
  height : 500px;
  width : 880px;
  top: 180px;
  left:270px;
  overflow:scroll; 
  text-align: justify;
  padding-right: 20px;
}
nav{
  background-color : blue;
  position : absolute;
  height : 500px;
  width : 180px;
  top:180px;
  left:50px;
  text-align: left;
  padding-left:10px;
  padding-right:10px;  
}
nav a{
  color: black;
  font-size: 15px;
  line-height: 30px; 
}
aside{
  background-color : red;
  position : absolute;
  height : 500px;
  width : 180px;
  top:180px;
  left:1200px;
  text-align: left;
  padding-left:10px;
  padding-right:10px;
}
aside a{
  color: black;
  font-size: 15px;
  line-height: 30px; 
}
footer{
  background-color : green;
  position : absolute;
  height : 50px;
  width : 1350px;
  top:700px;
  left:50px;
  text-align: center;
}
header{
  background-color : grey;
  position : absolute;
  height : 50px;
  width : 1350px;
  top:100px;
  left:50px;
  text-align: center;
}
*/

.wrapper {

  display: flex;
  flex-flow: row wrap;
  flex-wrap:  wrap;
  text-align: justify;
  align-content: space-between;
}

.avec_padding{
  
  padding: 1%;
  margin: 1%;
  margin-bottom: 15px;

}

header {
  width:100%;
  text-align: center;
}

footer {
  background: lightgreen;
  width:100%;
  text-align: center;
}

section {
  text-align: left;
  background: deepskyblue;
  width:58%; 
  height : 450px;
  overflow-y:scroll; 
  overflow-x:scroll; /*j'ai mis un scroll parce que j'ai un bug avec un pre ou un code de plus d'une ligne de caractère*/
}

nav {
  background: gold;
  width:15%;
}
aside {
  background: blue;
  width:15%;
}

section { order: 3; }
nav { order: 2; } 
header { order: 1; }
footer  { order: 5; }
aside{ order : 4;}
body {
  padding: 2em; 
}

h1{
  color: blue;
  text-align: center;
  font-size: 60px;
  font-family: "Brush Script Std", "Brush Script MT", cursive;
  margin-bottom:50px;
  margin-top:10px;
  vertical-align:top;
}
h1+p{
  background-color: tomato;
  margin: 1%;
  padding: 1%
}

h2{
  color: #000080;
  text-align: left-side;
  font-size: 2em;
  font-family: "Verdana", "Arial", serif;
  margin-bottom:0.5em;
  margin-top:1em;
}
h3{
  color: #0000A0;
  text-align: left-side;
  font-size: 1.5em;
  font-family: "Verdana", "Arial", serif;
  margin-bottom:0.4em;
  margin-top:1em;
}
h4{
  color: #0000B0;
  text-align: left-side;
  font-size: 1.4em;
  font-family: "Verdana", "Arial", serif;
  margin-bottom:0.3em;
  margin-top:1em;
  font-style: bold;
}
h5{
  color: #0000C0;
  text-align: left-side;
  font-size: 1.3em;
  font-family: "Verdana", "Arial", serif;
  margin-bottom:0.2em;
  margin-top:1em;
  font-style: oblique;
}

h6{
  color: #0000F0;
  text-align: left-side;
  font-size: 1.2em;
  font-family: "Verdana", "Arial", serif;
  margin-bottom:0.2em;
  margin-top:1em;
  
}
p+p{
   margin-top:0.5em;
}
.exemple{
  margin-left: 5em;
  margin-right: 5em;
  margin-top:1em;
  background-color:grey;
  padding: 1em;
  
}
em{
  font-weight: 900; 
}
strong{
  background-color:#00F0F0; 
}
mark{
  font-style: oblique;
  background-color:unset;
}
.liste_navigation li{
  padding-top:10px; 
  list-style-type: none;
  padding-left:unset;
}
aside>p{
padding-top:10px
}

.liste_non_ordonnee{
list-style-type: square;
padding-left:30px;
}
.liste_ordonnee{
list-style-type: decimal;
padding-left:30px;
}

pre{
  background-color: #999999;
  font-family: "Courier", monospace;
}

code{
  background-color: #AAAAAA;
  font-family: "Courier", monospace;
}




















